body{
  background: url(assets/bg-image1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-image{
  
  
  /* background: radial-gradient(circle, black, white); */
  /* background: linear-gradient(to left, #ccffff 0%, #6600ff 100%); */
  background-image: linear-gradient(315deg, rgba(255, 255, 255, 0.9), rgba(253, 253, 253, 0.8));
}

.navbar{
  background-color:#6A5ACD !important
}

.footer-bg{
  background-color:#6A5ACD !important
}